<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1 class="Polaris-Heading">Your Pragmatic Catalog</h1>
<div class="Polaris-Layout">
  <div class="Polaris-Layout__Section">
    <% @products.each do |product| %>
      <%= render 'product_details', product: product %>
    <% end %>
  </div>
</div>

